.advantages-slide {
  padding: 39px 19px 39px;
  border: 1px solid rgba($color: $color-default-black, $alpha: 0.1);
}

.advantages-slide.swiper-slide {
  height: initial;
  width: 380px;
}

.advantages-slide svg {
  display: block;
  margin: 0 auto 30px;
  padding: 16px;
  border: 1px solid $color-navy-blue;
}

.advantages-slide__text-content h3 {
  margin: 0 0 15px;
  font-size: $fz-h3-tablet;
  line-height: $fz-h3-tablet;
  font-weight: $fw-semi-bold;
  text-align: center;
}

.advantages-slide__text-content p {
  margin: 0 0 10px;
  font-size: $fz-small-tablet;
  line-height: $lh-default;
  text-align: center;

  &:last-child {
    margin: 0;
  }
}
