.btn {
  display: inline-flex;
  padding: 20px 34px;
  font-size: $fz-default;
  font-family: $ff-placeholder;
  font-weight: $fw-medium;
  justify-content: center;
  align-items: center;
  color: $color-default-white;

  background-color: $color-navy-blue;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  @include hover-focus {
    color: $color-resolution-blue;
    background-color: $color-default-white;
    outline: 1px solid $color-resolution-blue;
  }

  &:active {
    background-color: $color-resolution-blue;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  &--hero {
    line-height: $fz-default;
    user-select: none;
  }

  &--play {
    width: 56px;
    height: 56px;
    padding: 0;
    background-color: $color-transparent;
    border-radius: 50%;
    border: 1px solid $color-default-white;
  }

  &--play svg {
    position: absolute;
    top: 50%;
    left: 23px;
    transform: translate(0, -50%);
  }

  &--submit {
    width: 180px;

    @include vp-1199 {
      width: 100%;
    }
  }
}

.btn.disabled {
  background-color: $color-nobel;
  pointer-events: none;
}

.btn.btn--play {
  &:hover {
    background-color: $color-transparent;
    outline: none;
  }
}
