.btn {
  display: inline-flex;
  padding: 20px 34px;
  font-size: $fz-default;
  font-family: $ff-placeholder;
  font-weight: $fw-medium;
  justify-content: center;
  color: $color-default-white;

  background-color: $color-navy-blue;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  &--hero {
    line-height: $lh-xsmall;
  }

  &--play {
    width: 56px;
    height: 56px;
    padding: 0;
    background-color: $color-transparent;
    border-radius: 50%;
    border: 1px solid $color-default-white;
  }

  &--play svg {
    position: absolute;
    top: 50%;
    left: 23px;
    transform: translate(0, -50%);
  }

  &--submit {
    width: 180px;
    border-radius: 6px;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
