.btn {
  display: inline-flex;
  padding: 20px;

  font-family: $ff-placeholder;
  font-weight: 500;

  color: $color-default-white;

  background-color: $color-navy-blue;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  &--hero {
    position: relative;
    z-index: 3;
    margin: 0 0 134px;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
