.feedback {
  position: relative;
}

.feedback picture {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
}

.feedback img {
  width: 100%;
}

.feedback__text-content {
  position: relative;
  z-index: 1;
  margin: 0 0 40px;

  @include vp-1199 {
    margin: 0 0 23px;
  }

  @include vp-767 {
    margin: 0 0 20px;
  }
}

.feedback__text-content h2 {
  margin: 0 0 20px;
  font-size: $fz-h2-desktop;
  line-height: $fz-h2-desktop;
  font-weight: $fw-extra-bold;
  color: $color-default-white;
  text-align: center;

  @include vp-1199 {
    margin: 0 0 30px;
    font-size: $fz-h2-tablet;
    line-height: $fz-h2-tablet;
  }

  @include vp-767 {
    margin: 0 0 20px;
    font-size: calc($fz-h3-desktop + 1px);
    line-height: calc($fz-h3-desktop + 1px);
  }
}

.feedback__text-content p {
  margin: 0 auto 10px;
  color: $color-default-white;
  text-align: center;

  @include vp-1199 {
    width: 300px;
  }

  @include vp-767 {
    font-size: $fz-xsmall;
    line-height: calc($fz-big + 1px);
  }
}

.feedback__text-content p:last-child {
  margin: 0 auto;
}

form {
  position: relative;
  display: flex;
  gap: 30px;
  justify-content: center;

  @include vp-1199 {
    display: flex;
    flex-direction: column;
    gap: 11px;
    width: 271px;
    margin: 0 auto;
  }

  @include vp-767 {
    width: 100%;
    gap: 9px;
  }
}

form input {
  width: 360px;
  padding: 20px 30px;
  border: 1px solid rgba(45, 56, 63, 0.1);
  border-radius: 2px;

  @include vp-1199 {
    width: 100%;
    padding: 15px 15px;
    font-size: $fz-default;
    line-height: $fz-default;
    border-radius: 0;
  }

  @include vp-767 {
    padding: 14px 15px;
  }

  &:hover {
    border-color: $color-navy-blue;
  }

  &:hover::placeholder {
    color: $color-navy-blue;
  }

  &:active,
  &:focus-visible {
    border-color: $color-resolution-blue;
    outline: none;
  }

  &:disabled {
    border-color: rgba($color: $color-navy-blue, $alpha: 0.1);
    background-color: $color-default-white;
  }

  &:disabled::placeholder {
    color: rgba($color: $color-navy-blue, $alpha: 0.5);
  }
}

.feedback__form-input input::placeholder {
  opacity: 0.5;
}

.feedback__form-input.is-invalid input {
  outline: 1px solid $color-torch-red;
}
