.hero {
  position: relative;
  max-width: $vp-1440;
  min-width: $vp-350;
  margin: 0 auto;
}

.hero__slide {
  height: 800px;
  position: relative;

  @include vp-1199 {
    height: 1024px;
  }

  @include vp-767 {
    height: 568px;
  }
}

.hero__slide img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  object-fit: cover;
  height: 800px;

  @include vp-1199 {
    width: 100vw;
    height: 1024px;
  }

  @include vp-767 {
    height: 568px;
  }
}

.hero__text-content {
  position: relative;
  z-index: 1;
  margin: 0 0 35px;

  @include vp-1199 {
    margin: 0 0 25px;
  }

  @include vp-767 {
    margin: 0 0 60px;
  }

  h1 {
    width: 780px;
    margin-bottom: 25px;
    font-size: $fz-h1-desktop;
    line-height: $lh-h1-desktop;
    font-weight: $fw-extra-bold;
    color: $color-default-white;

    @include vp-1199 {
      margin: 0 auto 13px;
      font-size: $fz-h1-tablet;
      line-height: $lh-h1-tablet;
      text-align: center;
    }

    @include vp-767 {
      margin: 0 auto 15px;
      font-size: $fz-h1-mobile;
      line-height: $lh-h1-mobile;
    }
  }

  p {
    width: 420px;
    margin: 0 0 15px;
    font-size: $fz-big;
    line-height: $lh-big;
    color: $color-default-white;

    &:last-child {
      margin: 0;

      @include vp-1199 {
        margin: 0 auto;
      }
    }

    @include vp-1199 {
      margin: 0 auto 15px;
      text-align: center;
    }

    @include vp-767 {
      font-size: $fz-small;
      line-height: $lh-small;
    }
  }
}

.hero__btn {
  position: relative;
  z-index: 1;

  @include vp-1199 {
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 45px;
  }

  @include vp-767 {
    margin-bottom: 0;
  }
}

.hero__details-wrapper {
  position: absolute;
  left: 120px;
  bottom: 80px;
  z-index: 1;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;

  @include vp-1199 {
    display: none;
  }
}

.hero__video {
  position: absolute;
  width: 482px;
  height: 317px;
  bottom: 154px;
  right: 120px;

  &:hover {
    cursor: pointer;
  }

  @include vp-1199 {
    position: relative;
    bottom: initial;
    right: initial;
    width: 442px;
    height: 300px;
    margin: 0 auto;
  }

  @include vp-767 {
    display: none;
  }

  &--enabled .hero__video-button {
    display: block;
  }
}

.hero__video img {
  position: absolute;
  top: 0;
  left: 0;
  height: 317px;
  object-fit: cover;
}

.hero__video-button {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero__iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.hero__photo-wrapper {
  position: absolute;
  z-index: 0;
  width: 410px;
  height: 459px;
  bottom: 154px;
  right: 120px;

  @include vp-1199 {
    position: relative;
    bottom: initial;
    right: initial;
    width: 442px;
    height: 365px;
    margin: 0 auto;
  }

  @include vp-767 {
    display: none;
  }
}

.hero__photo-wrapper img {
  height: 459px;

  @include vp-1199 {
    height: 365px;
  }
}

.hero__audio-player-wrapper {
  position: absolute;
  top: 426px;
  right: 120px;
  width: 340px;
  height: 220px;

  &:hover {
    cursor: pointer;
  }

  @include vp-1199 {
    position: relative;
    top: initial;
    right: initial;
    margin: 0 auto;
  }

  @include vp-767 {
    display: none;
  }
}

.hero__audio-player-wrapper img {
  height: 220px;
}

.hero__audio-player-wrapper iframe {
  border: none;
}

.hero .hero__pagination {
  bottom: 97px;
  right: 120px;
  width: 70px;

  @include vp-1199 {
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
  }

  @include vp-767 {
    bottom: 33px;
  }
}
