.navigation-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  @include vp-1199 {
    display: block;
  }
}

.navigation-list__item:not(:last-child) {
  @include vp-1199 {
    margin: 0 0 6px;
  }
}
