.social-list {
  margin: 0;
  padding: 0;
}

.social-list__item {
  list-style: none;
}


.social-list__link {
  padding: 4px;
  border: 1px solid rgba($color: $color-default-black, $alpha: 0.2);
}

.social-list__link svg {
  display: block;
}
