.steps-list {
  position: relative;
  z-index: 2;
  display: flex;
  margin: 0;
  padding: 0;
}

.steps-list__item {
  flex-basis: 253px;
  // flex-grow: 1;

  &:last-child {
    flex-basis: 440px;
    // flex-grow: 2;
  }
}
