.steps-list {
  margin: 0;
  padding: 0;
}

.steps-list__item {
  flex-basis: 253px;

  &:last-child {
    flex-basis: 440px;

    @include vp-1199 {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }

    @include vp-767 {
      flex-basis: initial;
    }
  }

  @include vp-767 {
    flex-basis: initial;
    justify-content: start;
  }
}
