.toggle {
  display: none;
  padding: 0;
  background-color: $color-transparent;
  border: none;

  &:hover {
    cursor: pointer;
  }

  @include vp-1199 {
    display: block;
  }
}

.toggle svg {
  color: $color-default-white;
}
