.training {
  padding-top: 20px;

  @include vp-1199 {
    padding-top: 45px;
    padding-bottom: 45px;
  }

  @include vp-767 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.training__title-wrapper {
  margin: 0 0 56px;
}

.training__title-wrapper p {
  position: relative;
  z-index: 1;
  width: 820px;
  margin: 0 0 10px;

  @include vp-1199 {
    width: 545px;
  }

  @include vp-767 {
    width: 320px;
  }

  &:last-child {
    margin: 0;
  }
}

.training__title {
  position: relative;
  z-index: 1;
  margin-bottom: 38px;
  font-size: $fz-h2;
  line-height: $fz-h2;
  font-weight: $fw-extra-bold;

  @include vp-1199 {
    margin-bottom: 26px;
    font-size: $fz-h2-tablet;
    line-height: $fz-h2-tablet;
  }
}

.training__slider-title-wrapper {
  display: flex;
  justify-content: space-between;
  min-height: 55px;
  margin: 0 0 20px;

  @include vp-1199 {
    margin: 0 0 30px;
  }

  @include vp-767 {
    margin: 0 0 25px;
  }
}

.training__slider {
  margin: 0 0 56px;

  @include vp-1199 {
    margin: 0 0 25px;
  }
}

.training__slider-wrapper.swiper-wrapper {
  align-items: stretch;
}

.training__subtitle {
  position: relative;
  z-index: 1;
  margin: 0 0 23px;
  font-size: 21px;
  line-height: 21px;
  font-weight: $fw-bold;

  @include vp-1199 {
    margin: 0 0 34px;
  }

  @include vp-767 {
    margin: 0 0 25px;
    font-size: $fz-default;
    line-height: $fz-default;
  }
}

.training__slider-btn-wrapper {
  position: relative;
  display: flex;
  gap: 4px;
}

.training__btn-prev.swiper-button-prev,
.training__btn-next.swiper-button-next {
  position: initial;
  width: 37px;
  height: 35px;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: $color-navy-blue;

  &::after {
    display: none;
  }

  &:hover,
  &:focus-visible {
    border: 1px solid $color-resolution-blue;
    background-color: $color-default-white;
  }

  &:hover svg,
  &:focus-visible svg {
    color: $color-resolution-blue;
  }

  &:active {
    background-color: $color-resolution-blue;
  }

  &:active svg{
    color: $color-default-white;
  }
}

.training__btn-prev.swiper-button-prev svg,
.training__btn-next.swiper-button-next svg {
  color: $color-default-white;
}

.training__btn-prev.swiper-button-disabled,
.training__btn-next.swiper-button-disabled {
background-color: $color-nobel;
opacity: initial;
}

.training__steps-list {
  position: relative;
  z-index: 2;
  display: flex;

  @include vp-1199 {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    row-gap: 91px;
    padding: 0 5px 0 10px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
  }
}
