.trainers-slide {
  padding: 15px;
  background-color: $color-default-white;
  border: 1px solid rgba($color: $color-default-black, $alpha: 0.1);

  @include vp-1199 {
    padding: 14px;
  }
}

.trainers-slide.swiper-slide {
  height: initial;
}

.trainers-slide img {
  // width: 100%;
  margin-bottom: 15px;

  @include vp-1199 {
    margin-bottom: 16px;
  }
}

.trainers-slide__title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 0 0 15px;

  @include vp-1199 {
    margin: 0 0 14px;
  }
}

.trainers-slide__title {
  width: 130px;
  margin: 0;
  font-size: calc($fz-small - 1px);
  line-height: $fz-default;
  font-weight: $fw-bold;
}

.trainers-slide__link {
  padding: 6px 3px 6px;
  border: 1px solid rgba($color: $color-default-black, $alpha: 0.3);
}

.trainers-slide__link svg {
  display: block;
}

.trainers-slide__text-content {
  min-height: 64px;
}

.trainers-slide__text-content p {
  margin: 0;
  font-size: $fz-xsmall;
  line-height: $fz-default;
}

.trainers-slide__text-content p br {
  display: none;

  @include vp-1199 {
    display: block;
  }

  @include vp-767 {
    display: none;
  }
}
